body {
    font-family: 'Roboto';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,be4242+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-23.7deg, #ffffff 0%, #be4242 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-23.7deg, #ffffff 0%,#be4242 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(156.3deg, #ffffff 0%,#be4242 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#be4242',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-image: url('img/bg-mobile.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin:0;
}
.tap-place {
    position:absolute;
    width: 100%;
    height: 100vh;
    background-image: url('img/tap.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}
.connect-popup {
    width: 80%;
    height:80vw;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3vw;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    box-sizing: border-box;
    text-align: center;
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
}
.connect-popup .inputs {
    border: 2px solid #3db9ea;
    border-radius: 1vw;
    width: 80%;
}
.error {
    display: none;
}
.connect-popup h3 {
    font-size: 5vw;
    line-height: 5vw;
    color: #0d65a5;
    margin:0;

}

.clearfix {
    clear: both;
}
inputs:-webkit-input-placeholder {
    color: #0d65a5;
}

inputs-moz-placeholder {
    color: #0d65a5;
}

.inputs {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
}

.inputs:focus {
    background: #fff;
    box-shadow: 0 0 0 3px #fff38e, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}

.btn {
    /* background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #ea011c);
    background-image: -moz-linear-gradient(top, #3498db, #ea011c);
    background-image: -ms-linear-gradient(top, #3498db, #ea011c);
    background-image: -o-linear-gradient(top, #3498db, #ea011c);
    background-image: linear-gradient(to bottom, #3498db, #ea011c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none; */
    }

    .btn:hover {
    /* background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #28368a, #3498db);
    background-image: -moz-linear-gradient(top, #28368a, #3498db);
    background-image: -ms-linear-gradient(top, #28368a, #3498db);
    background-image: -o-linear-gradient(top, #28368a, #3498db);
    background-image: linear-gradient(to bottom, #28368a, #3498db);
    text-decoration: none; */
    }
    
    .n-text {
  /* font: normal normal bold 24px/normal "Atomic Age", Helvetica, sans-serif;
  color: rgb(64, 126, 196);
  margin-left:20px; */
}

.signup {
    position:absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(188,68,70,0.8);
    left: 0;
    top: 0;
}

.signup, .leader-board {
    display:none;
}

.signup h3 {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    font-size: 3vh;
    color: #fff;
    text-transform: uppercase;
}
.signup h3.login_label {
    font-size:  2.5vh;
}
.signup .score {
    font-size: 18vh;
    display:block;
    width: 100%;
    text-align:center;
    color: #fff;
}
.signup-wrapper {
    height: 75vh;
    width: 80%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align:center;
}

::-webkit-input-placeholder {
   color: #0d65a5;
}

:-moz-placeholder { /* Firefox 18- */
   color: #0d65a5;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #0d65a5;  
}

:-ms-input-placeholder {  
   color: #0d65a5;  
}

.signup .signup-input {
    background-color: rgba(255,255,255, 0.7);
    margin-bottom: 20px;
    width: 80%;
    height: 10vw;
    border: none;
    padding: 10px;
    font-size: 3vw;
    line-height:3vw;
    color: #0d65a5;
}

.signup .signup-button {
    width: 100%;
    height:16vw;
    font-size: 5vw;
    line-height:20vw;
    background: url('img/mobile-button-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    margin: auto;
    padding: 0;
    color: #fff;

    background-image: none;
    background-color: #e0e0e0;
    border-radius: 45px;
    color: rgba(0,0,0,0.6);
    line-height: 16vw;
    font-weight: 900;
    position: relative;
    padding-right: 50px;
}
.signup .signup-button img {
    position: absolute;
    right: 15px;
    top: 0;
    width: 48px;
    height: 48px;
    bottom: 0;
    margin: auto;
}
.leader-board {
    color: #fff;
    width:100%;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    top:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);

    display: none;
}
.leader-board h3 {
    width: 100%;
    text-align: center;
}

.leader-board .item {
    margin: auto;
    max-width: 400px;
    width: 80%;
    margin-bottom: 20px;
}
.current-leader .position, .leader-board .item .position {
    width: 12.5%;
    float:left;
    font-size: 30px;
    line-height: 30px;
}
.current-leader .profile-photo, .leader-board .item .profile-photo {
    width: 30px;
    height: 30px;
    margin-right: 1vw;
    float:left;
    background-image: url('img/face.jpeg');
    background-size:contain;
    background-position: center;
    border-radius: 50%;
}
.current-leader .score-wrapper, .leader-board .item .score-wrapper {
    width: 70%;
    float: left;
}
.current-leader .score-wrapper .name, .leader-board .item  .score-wrapper .name {
    display:block;
    text-align: left;
    width: 60%;
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
    float:left;
}
.current-leader .score-wrapper .points, .leader-board .item .score-wrapper .points {
    display:block;
    width: 40%;
    font-size:28px;
    line-height: 28px;
    text-align:left;
    float:left;
}
.current-leader .prize, .leader-board .item .prize  {
    width:10%;
    float:left;
}

/* .restart-wrapper {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
    z-index:9999;
}
.restart {
    display: none;
    margin:auto;
    background: url('img/mobile');
} */